# detection-rules code owners
# POC: Elastic Security Intelligence and Analytics Team

tests/**/*.py     @brokensound77 @rw-access
detection_rules/  @brokensound77 @rw-access
tests/            @brokensound77 @rw-access

# skip rta-mapping to avoid the spam
etc/packages.yml  @brokensound77 @rw-access
etc/*.json        @brokensound77 @rw-access
etc/*.json        @brokensound77 @rw-access
etc/*/*           @brokensound77 @rw-access

