# detection-rules code owners
# POC: Elastic Security Intelligence and Analytics Team

tests/**/*.py     @brokensound77 @mikaayenson @terrancedejesus
detection_rules/  @brokensound77 @mikaayenson @terrancedejesus
tests/            @brokensound77 @mikaayenson @terrancedejesus

# skip rta-mapping to avoid the spam
detection_rules/etc/packages.yml  @brokensound77 @mikaayenson @terrancedejesus
detection_rules/etc/*.json        @brokensound77 @mikaayenson @terrancedejesus
detection_rules/etc/*.json        @brokensound77 @mikaayenson @terrancedejesus
detection_rules/etc/*/*           @brokensound77 @mikaayenson @terrancedejesus

