include LICENSE
include README.md
include CLI.md
include CONTRIBUTING.md
include PHILOSOPHY.md
include pyproject.toml

recursive-include detection_rules/etc/ *
recursive-exclude * __pycache__
recursive-exclude kibana/ *
recursive-exclude kql/ *
recursive-exclude rta/ *
recursive-exclude * *.py[cod]
