jsl==0.2.4
pytoml
toml==0.10.0
requests==2.22.0
Click==7.0
PyYAML~=5.3
eql==0.9.12
elasticsearch~=7.9
XlsxWriter~=1.3.6
marshmallow~=3.13.0
marshmallow-dataclass[union]~=8.5.3

# test deps
pyflakes==2.2.0
flake8==3.8.1
pep8-naming==0.7.0
pytest>=3.6
jsonschema==3.2.0
marshmallow-jsonschema~=0.12.0
marshmallow-union~=0.1.15  # needed for marshmallow-jsonschema
