@import url('http://fonts.googleapis.com/css?family=Google+Sans');
@import url('http://fonts.googleapis.com/css?family=Open+Sans');
@import url('http://fonts.googleapis.com/css?family=Open+Sans:wght@700&display=swap');
@import url('http://fonts.googleapis.com/css?family=docs-Open+Sans');
@import url('http://fonts.googleapis.com/css?family=Roboto');
@import url('http://fonts.googleapis.com/css?family=Helvetica');

.rendered_html h1,
.rendered_html h2,
.rendered_html h3,
.rendered_html h4,
.rendered_html h5,
.rendered_html h6 {
	font-family: "Open Sans";
	font-weight: 300;
	margin: 0;
	color: #343741;
}

.rendered_html h1 {
	font-family: "Open Sans:wght@700";
	font-size: 200%;
	font-weight: 900;
	margin-top: 80px;
}

.rendered_html h2 {
	font-size: 130%;
	margin-bottom: 50px;
}

.rendered_html h3 {
	font-size: 110%;
	margin-bottom: 120px;
}

.rendered_html h6 {
	font-size: 70%;
}

.rendered_html ol:not(.list-inline),
.rendered_html ul:not(.list-inline) {
	margin-top: 0;
	padding: 0;
}

/* div.cell::before { */
/* 	#visibility: hidden; */
/* 	display: none; */
/* } */

div.cell.text_cell.rendered.selected::before,
div.cell.code_cell.rendered.selected::before {
	display: none;
}

.reveal .slide-background-content {
	background-image: url("images/Background1.png");
	background-size: 100% 100%;
}

div.cell {
	border-color: transparent;
	border-width: 0px;
	width: 70%;
	margin: auto;
}

div.cell.selected {
	border-color: transparent;
	border-width: 0px;
}

div.out_prompt_overlay {
	#visibility: hidden;
	display: none;
}

div.output_result {
	width: 100%;
}

div.output_area {
	/* width: 100%; */
}

div.output_subarea.output_text,
div.output_subarea.output_text.output_result,
div.output_subarea.output_svg,
div.output_subarea.output_svg.output_result {
	margin: auto;
	width: 100%;
}

div.output_subarea.output_svg div {
	width: 300%;
	margin: auto;
}

div.prompt,
div.prompt_container,
div.prompt.input_prompt,
div.prompt.output_prompt {
	#width: 0%;
	#visibility: hidden;
	display: none;
}
